<!DOCTYPE html>
<html>
  <head>
    <title>Matt Farmer • Software Engineer • Atlanta, GA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Personal portfolio site of Matt Farmer, a Software Engineer in Atlanta.">

    <!-- Stylesheets -->
    <link href="/stylesheets/bootstrap.css" media="all" rel="stylesheet" type="text/css">
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css">
    <!--[if IE]>
        <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css">
    <![endif]-->
  </head>
  <body>
    <!-- todo -->
  </body>
</html>
