<!DOCTYPE html>
<html>
  <head>
    <title>Matt Farmer • Software Engineer • Atlanta, GA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Personal portfolio site of Matt Farmer, a Software Engineer in Atlanta.">

    <!-- Stylesheets -->
    <link href="/stylesheets/bootstrap.css" media="all" rel="stylesheet" type="text/css">
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css">
    <!--[if IE]>
        <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css">
    <![endif]-->
  </head>
  <body>
    <header>
      <h1>Matt Farmer</h1>
    </header>

    <section id="introduction" class="accent-block">
      <p>
        I am a Software Engineer based out of Atlanta. I am employed by
        <a href="http://openstudy.com" target="_blank">OpenStudy</a>, an educational startup company
        based in Midtown. I <a href="http://farmdawgnation" target="_blank">blog</a>,
        <a href="http://twitter.com/farmdawgnation">tweet</a>, and push code on
        <a href="http://github.com/farmdawgnation">GitHub</a>.
      </p>

      <p>
        My interests include software engineering, server administration, the tech industry.
        My weapons of choice these days are Scala and Lift, Node.js, and MongoDB. Want to have
        a conversation about these? <a href="#contact">Drop me a line.</a>
      </p>
    </section>

    <section id="portfolio">
      <h2>My Work</h2>

      <ul class="potfolio-showcase">
        <li>
          <img src="" alt="Portfolio item.">
          <h3>Boxkite Media</h3>
          <div class="time-span">October 2009 - April 2012</div>

          <p>
            This is a previous employer of mine where I worked as a Developer, and later took
            over the role of Server Administrator. Blah blah blah blah blah blah blah blah.
            This is some more text here about how I do what I do and whatnot like that.
          </p>
        </li>
      </ul>
    </section>

    <section id="contact-and-rss" class="accent-block">
      <div id="getting-in-touch">
        <h3>Getting in Touch</h3>

        <p>
          If you’re interested in getting in touch to talk about technology or something
          else, use this contact form to do so. If you are a recruiter, however, I do ask
          that you contact me via my LinkedIn account instead of this contact form.
        </p>

        <!-- todo -->
      </div>

      <div class="feeds">
        <ol id="blog">
          <li><a href="#">I'm a blog post post post post.</a></li>
          <li><a href="#">I'm a blog post post post post.</a></li>
          <li><a href="#">I'm a blog post post post post.</a></li>
        </ol>

        <ol id="twitter">
          <li><a href="#">I'm a tweet tweet tweet tweet.</a></li>
          <li><a href="#">I'm a tweet tweet tweet tweet.</a></li>
          <li><a href="#">I'm a tweet tweet tweet tweet.</a></li>
        </ol>
      </div>
    </section>

    <footer>
      <p>©2012 Matt Farmer. All rights reserved.</p>
      <p>“Blog” symbol by The Noun Project, “Paper” symbol by Tom Schott from</p>
      <p>The Noun Project Collection. “Subtle Net” from Subtle Patterns.</p>
    </footer>
  </body>
</html>
